* {
  box-sizing: border-box;
  margin: 0;
}

.hidden {
  display: none;
}

img {
  position: relative;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
}

#clock,
#login-form,
#greeting,
#todo-form,
#todo-list,
#quote,
#weather {
  margin: 30px;
  text-align: center;
}

#wrapper {
  position: absolute;
  z-index: 2;
  left: 500px;
  top: 100px;
}

#quote,
#weather {
  font-weight: 600;
}

input {
  border-radius: 13px;
  border: 3px solid black;
  width: 190px;
  height: 26px;
}

#login-form input:first-child {
  width: 132px;
}

#login-form input:last-child {
  width: 54px;
}
